*~
__pycache__
*.pyc
env/
*.db
/settings*.toml

# Unit tests and coverage reports
.coverage
htmlcov/
test-reports/

# Files written during unit tests
samples/2024-11-01-12-34-*.yml
samples/expected-invalid-receipt.yml
samples/new_receipt.yml
samples/products-id.zzz.yml
samples/products-inv.yml
samples/receipt-[12].yml
samples/shops.zzz.yml
tmp/

# Schema validation reports
jsonschema_report_*.json

# Code style and typing reports
basedpyright.json
pylint-report.txt
ruff-report.json

# Typing coverage reports
.mypy_cache
mypy-report/

# Generated documentation
docs/source/code/

# Pip and distribution
src/
build/
dist/
*.egg-info
*.egg
