name: coverage
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: "${{ matrix.python }}"
      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0
        with:
          version: "0.9.24"
      - name: Install dependencies for test
        run: |
          uv venv .venv
          make setup
          make setup_test
      - name: Unit test and coverage
        id: coverage
        continue-on-error: true
        run: |
          source .venv/bin/activate
          TEST_NAME=sqlite-${{ matrix.python }} make -i coverage
          make setup_postgres
          TEST_NAME=postgresql-${{ matrix.python }} RECHU_DATABASE_URI=postgresql+psycopg2://postgres:test@localhost:5432/postgres make coverage
      - name: Coveralls upload
        uses: coverallsapp/github-action@v2.3.7
        if: "${{ success() }}"
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          flag-name: "python-${{ matrix.python }}"
          parallel: true
          format: cobertura
          files: test-reports/cobertura-*.xml
      - name: Archive coverage results
        uses: actions/upload-artifact@v6.0.0
        with:
          name: "coverage-${{ matrix.python }}"
          path: test-reports
      - name: Set status
        if: steps.coverage.outcome == 'failure'
        env:
          COVERAGE_OUTCOME: ${{ steps.coverage.outcome }}
        run: |
          echo "Unit test and coverage: $COVERAGE_OUTCOME"
          exit 1
    services:
      postgres:
        image: postgres:18.1
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: test
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      matrix:
        python:
        - '3.10.19'
        - '3.14.2'
  analysis-no-python:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Code style formatting (shellcheck and shfmt)
        uses: luizm/action-sh-checker@v0.10.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHFMT_OPTS: -i 4
        with:
          sh_checker_comment: true
          sh_checker_exclude: ".venv"
  analysis:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: "${{ matrix.python }}"
      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.0
        with:
          version: "0.9.24"
      - name: Install dependencies for analysis
        run: |
          uv venv .venv
          make setup
          make setup_analysis
      - name: Typing analysis and coverage (mypy)
        if: "${{ always() }}"
        run: |
          source .venv/bin/activate
          mkdir -p mypy-report
          make -s mypy | tee mypy-report/output.txt
      - name: Typing analysis (basedpyright)
        if: "${{ always() }}"
        run: |
          source .venv/bin/activate
          set +e
          make pyright
          CODE=$?
          make -s pyright PYRIGHT="basedpyright --outputjson" | uv run --no-sync python3 -m scripts.format_basedpyright_report
          set -e
          exit $CODE
      - name: Code style formatting (pylint)
        if: "${{ always() }}"
        shell: bash
        run: |
          source .venv/bin/activate
          make -s pylint | tee pylint-report.txt
      - name: Code style formatting (ruff)
        if: "${{ always() }}"
        shell: bash
        run: |
          source .venv/bin/activate
          set +e
          make ruff
          CODE=$?
          if [ $CODE -ne 0 ]; then make ruff RUFF="ruff check --output-format=json --output-file=ruff-report.json"; make ruff RUFF="ruff check --output-format=github"; fi
          set -e
          exit $CODE
      - name: Schema validation
        if: "${{ always() }}"
        run: |
          source .venv/bin/activate
          scripts/validate_schema.sh samples receipt.yml products-*.yml
      - name: Archive coverage results
        uses: actions/upload-artifact@v6.0.0
        with:
          name: "analysis-${{ matrix.python }}"
          path: |
            basedpyright.json
            jsonschema_report_*.json
            mypy-report/
            pylint-report.txt
            ruff-report.json
    strategy:
      matrix:
        python:
          - '3.14.2'
  finish:
    needs:
      - test
      - analysis-no-python
      - analysis
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Close parallel Coveralls build
        uses: coverallsapp/github-action@v2.3.7
        if: "${{ success() }}"
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          parallel-finished: true
      - name: Collect coverage results
        if: "${{ always() }}"
        uses: actions/download-artifact@v7.0.0
        with:
          pattern: coverage-*
          path: test-reports
          merge-multiple: true
      - name: Collect analysis results
        if: "${{ always() }}"
        uses: actions/download-artifact@v7.0.0
        with:
          pattern: analysis-*
          merge-multiple: true
      - name: SonarQube scan
        if: "${{ always() }}"
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    strategy:
      matrix:
        python:
          - '3.14.2'
