name: documentation
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.14.0]
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Use Python ${{ matrix.python }}
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "${{ matrix.python }}"
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.3
        with:
          version: "0.9.8"
      - name: Install dependencies for docs
        run: |
          uv venv .venv
          make setup
          make setup_doc
      - name: Build documentation
        run: |
          source .venv/bin/activate
          make doc
          cp -r schema/ docs/build/html/schema
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: docs/build/html
  publish:
    if: ${{ github.event_name == 'push' }}
    concurrency:
      group: "publish"
      cancel-in-progress: false
    needs: build
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
